 <style>
    body {
      background-image: url('http://postfiles6.naver.net/MjAxNzA1MjlfMjQw/MDAxNDk2MDQ5ODc4NTA4.SSAJ0U70Y3h39aVS4nLy-crGlNnTkhLazxEbjkn2uzQg.xuLVoXNfQJBu0krSHS6EqfRCk7JGqB4kdYyrNRcuJzUg.PNG.jjjung_in_96/%EB%B0%B0%EB%9D%BC%EB%B0%B0%EA%B2%BD.png?type=w2')
    }
    }
  </style>
  <!-- 제목 -->
<div class="row justify-content-center" style = "text-align: center; margin-top: 50px; margin-bottom:10px;">
  <div class= "col-sm-8"><img src = "http://postfiles4.naver.net/MjAxNzA2MDNfMzEg/MDAxNDk2NDQyNTg5MzU4.aY2liOWAusHIAJOLLdEnEYOMBBz_Z0mrC4NnP7wVG3Ag.qyaxSzhwtu1Kt7c24pRR2PQOOa4Mh1L1wYcdULMfcr0g.PNG.jjjung_in_96/%EB%9D%BC%EB%9D%BC.png?type=w2" style="max-width: 100%; height: auto;">
  </div>
</div>


<form action="/home/final_choice_pint">
   <!-- 4가지 후보 나타내는 부분 -->
    <div class="row justify-content-center">
        <input type="hidden" value="<%=@chosenIceCreamArray%>" name="chosenIceCreams">
        <!-- 1번 후보 -->
        <div class="sorry_box">
           <a>
    			<div class="img">
    			    <input type="radio" name="radio_item_index" value="0" id="first" style="width:30px;height:30px;border:1px;"/>
    		    <label for="first"> <img src="http://www.baskinrobbins.co.kr/upload/product/<%=@chosenIceCreamArray[0]%>.png" alt="" height="250px" width="250px">
                   <h5 align="center" style="color: #24dbea">
                       <strong>
                       <%= IceCream.where(:number=>@chosenIceCreamArray[0]).take.name %><!--아이스크림 이름!-->
                       </strong>
                   </h5> </label>
    			</div>
    		</a>
        </div>
        
        <!--2번후보-->
        <div class="sorry_box">
    		<a >
    			<div class="img">
    			    <input type="radio" name="radio_item_index" value="1" id="se" style="width:30px;height:30px;border:1px;">
    			   <label for="se"> <img src="http://www.baskinrobbins.co.kr/upload/product/<%=@chosenIceCreamArray[1]%>.png" alt="" height="250px" width="250px" >
    			     <h5 align="center" style="color: #24dbea">
    			         <strong>
    			             <%= IceCream.where(:number=>@chosenIceCreamArray[1]).take.name %><!--아이스크림 이름!-->
    		             </strong>
    	             </h5></label>
    			</div>
    		</a>
    	</div>
    	<br>
    	
    	<!--3번 후보-->
    	<div class="sorry_box">
        	<a ><!-- 상세페이지 view.php? -->
    			<div class="img">
    			    <input type="radio" name="radio_item_index" value="2" id="th" style="width:30px;height:30px;border:1px;"/>
    			   <label for="th">  <img src="http://www.baskinrobbins.co.kr/upload/product/<%=@chosenIceCreamArray[2]%>.png" alt="" height="250px" width="250px">
    			   <h5 align="center" style="color: #24dbea">
                       <strong>
                       <%= IceCream.where(:number=>@chosenIceCreamArray[2]).take.name %><!--아이스크림 이름!-->
                       </strong>
                   </h5> </label>
    			</div>
    		</a>
    	</div>
    	
    	<!--4번 후보-->
    	<div class="sorry_box">
        	<a >
    			<div class="img" >
    			    <input type="radio" name="radio_item_index" value="3" id="fou" style="width:30px;height:30px;border:1px;" />
                <label for="fou"> 	<img src="http://www.baskinrobbins.co.kr/upload/product/<%=@chosenIceCreamArray[3]%>.png" alt="" height="250px" width="250px">
                	 <h5 align="center" style="color: #24dbea">
                       <strong>
                       <%= IceCream.where(:number=>@chosenIceCreamArray[3]).take.name %><!--아이스크림 이름!-->
                       </strong>
                   </h5> </label>
    			</div>
    		</a>
    	</div>
    
    	<div style="clear:both;"></div>
    </div>	

    </br></br>
    <div style="margin-top:30px; margin-bottom:50px;" align="center">
        <input type="submit" name="input_submit" value="See You Soon...">
    </div>
    
    </div>
</form>


   	<!--<a class="btn btn-secondary" roll="button" href="#">-->
    	<!--    See You Soon...-->
     <!--   </a>-->